#catPage {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: lightgray;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
