#formDiv {
  padding-top: 5px;

  .formHead {
    color: #888;
  }

  form {
    display: grid;
    grid-template-columns: 50% auto 450px auto 200px;

    input {
      font-family: Montserrat, Arial, Helvetica, sans-serif;
      padding: 10px;
      border: 1px lightgray solid;
      font-size: small;
      border-radius: 5px;
    }
  }

  #inputBookCategory {
    grid-column: 3 / 4;
  }

  #submitBtn {
    grid-column: 5 / 6;
    background-color: #0074ff;
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
  }
}
